<div appKM class="button-group" role="radiogroup" [attr.aria-labelledby]="id">
  <label [id]="id" class="label">{{ label }}</label>
  <button
    appKMItem
    role="radio"
    [attr.disabled]="disabled ? disabled : null"
    [attr.aria-checked]="isYes"
    [tabindex]="isYes || value === null ? 0 : -1"
    type="button"
    class="button-yes"
    [class.button-pressed]="isYes"
    (click)="activate(options.YES)"
    (focused)="activate(options.YES)"
  >
    Yes
  </button>
  <button
    appKMItem
    role="radio"
    [attr.disabled]="disabled ? disabled : null"
    [attr.aria-checked]="isNo"
    [tabindex]="isNo ? 0 : -1"
    type="button"
    class="button-no"
    [class.button-pressed]="isNo"
    (click)="activate(options.NO)"
    (focused)="activate(options.NO)"
  >
    No
  </button>
</div>
<!--
<div class="button-group" role="radiogroup" [attr.aria-label]="label">
  <label>{{ label }}</label>
  <div class="radio">
    <input
      [id]="id + '-yes'"
      type="radio"
      [attr.name]="id"
      [attr.checked]="isYes"
      [attr.disabled]="disabled ? disabled : null"
      (change)="activate(options.YES)">
      <label [for]="id + '-yes'" class="button button-yes">
        Yes
      </label>
  </div>
  <div class="radio">
    <input
      [id]="id + '-no'"
      type="radio"
      [attr.name]="id"
      [attr.checked]="isNo"
      [attr.disabled]="disabled ? disabled : null"
      (change)="activate(options.NO)">
      <label [for]="id + '-no'" class="button button-no">
        No
      </label>
  </div>
</div> -->
